* {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    height: 75px;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    height: 50px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#imageInput {
    margin-bottom: 20px;
}

#preview {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #28578a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}
